.signupbox{
    background-color: #ededed;
    border-radius: 10px;
}


.fields form>select,input[type=text],input[type=email],input[type=password]
{
    background-color: #cacaca;
    border-radius: 5px;
}

.button{
    border-radius: 6px;
    background-color: #0275d8;
}
.button:hover{
    background-color:#015dac;
}
